@import url("./font.css");

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body, a {
  color: #333 !important;
  text-decoration: none !important;  
  /* font-family: 'Pretendard-Regular', sans-serif !important; */
}

/* COMMON */
.mycontainer {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}