main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 80vh;
  #textColor {
    width: 30px;
    margin: .5rem;
  }
  #textSize {
    width: 50px;
  }
  .inputbox {
    #textContent{
      /* width: 300px; */
      /* height: 100px; */
      // vertical-align: top;
      // width: 615px;
      // height: 300px;
      border: none;
      box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.55);
    }
  }
  
  .outputbox {
    p {
      margin: 0;
      line-height: 1.4;
    }
    
  }
    .previewbox {
      position: relative;
      z-index: 2; 
      // width: 615px;
      // height: 300px;
      box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.55);

      // border: 1px solid #333;
      background-image: url("../img/transparent_bg.png");
      .preview {
        // border: 1px solid #333; 
        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: inline-block;
      }
    }  
}

// common
.mybasic {
  font-family: 'Pretendard-Regular', sans-serif !important;
  border: none;
  color: #000;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.55);
  margin: .5rem;
  padding: 5px;
}
.mybasic__fontfamily {
  border: none;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.55);
  margin: .5rem;
  padding: 5px;
  
}
.mycolorbtn {
  border: none;
  border-radius: 10px;
  color: #000;
  width: 30px;
  height: 30px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.55);
  cursor: pointer;
  margin: .5rem;
}
.mytap {
  margin-top: 1rem;
  border-radius: 10px 10px 0 0;
  // border-top: 1px solid #333;
  // border-left: 1px solid #333;
  // border-right: 1px solid #333;
  display: inline-block;
  padding: 0 0.5rem;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.55);
}
.myoption {
  background-color: #E1F1FF;
  font-weight: bold;
  max-width: 150px;
  
} 
.mybtn__white {
  background-color: #F6FBFF;
  cursor: pointer;
}
.mybtn__red {
  background-color: #FFC0C0;
  cursor: pointer;
}
.myboxsize {
  // width: 615px;
  // height: 300px;  
  width: 100%;
  height: 300px;
}
@media (min-width: 992px) {
  .myboxsize {
    width: 415px;
  }
}
@media (min-width: 1263px) {
  .myboxsize {
    width: 615px;
  }
}
.text-align-end {
  text-align: end;
}
.text-align-center {
  text-align: center;
}